@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body{
    height: 100%;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

article {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition-duration: 0.5s;
    background-color: #000;
    perspective: 1000px;
}

h1 {
    transform: rotate3d(-2,5,-1.5,-35deg);
    transform-origin: 50% 50%;
}

h1 .deco0 {
    color: #fff;
    background: #C60019;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    display: inline-block;
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.1;
    padding: 2px 3px;
    -webkit-box-shadow: 4px 4px 0px 6px #000;
    box-shadow: 3px 3px 0px 4px #fff;
    margin-right: 2px;
}

h1 .deco1 {
    color: #fff;
    background: #000;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    display: inline-block;
    font-size: 24px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.1;
    padding: 2px 3px;
    -webkit-box-shadow: 4px 4px 0px 6px #C60019;
    box-shadow: 3px 3px 0px 4px #fff;
    margin-right: 2px;
}

h1 .deco2 {
    color: #fff;
    background: #000;
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    display: inline-block;
    font-size: 32px;
    font-family: 'Noto Serif JP', sans-serif;
    line-height: 1.1;
    padding: 2px 3px;
    -webkit-box-shadow: 4px 4px 0px 6px #000;
    box-shadow: 3px 3px 0px 4px #fff;
    margin-right: 2px;
}

h1 .deco3 {
    color: #C60019;
    background: #000;
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
    display: inline-block;
    font-size: 20px;
    font-family: 'Noto Serif JP', sans-serif;
    line-height: 1.1;
    padding: 2px 3px;
    -webkit-box-shadow: 4px 4px 0px 6px #C60019;
    box-shadow: 3px 3px 0px 4px #fff;
    margin-right: 2px;
}




#body_home #home {
    left: 0;
}

#body_home #camera,
#body_home #edit,
#body_home #wishform,
#body_home #license {
    left: 100vw;
}

#body_camera #home {
    left: -100vw;
}

#body_camera #camera {
    left: 0;
}

#body_camera #edit,
#body_camera #wishform,
#body_camera #license {
    left: 100vw;
}

#body_edit #home,
#body_edit #camera {
    left: -100vw;
}

#body_edit #edit {
    left: 0;
}

#body_edit #wishform,
#body_edit #license {
    left: 100vw;
}

#body_wishform #home,
#body_wishform #camera,
#body_wishform #edit {
    left: -100vw;
}

#body_wishform #wishform {
    left: 0;
}

#body_wishform #license {
    left: 100vw;
}

#body_license #home,
#body_license #camera,
#body_license #edit,
#body_license #wishform {
    left: -100vw;
}

#body_license #license {
    left: 0;
}







nav {
    position: absolute;
    bottom: 0px;
    text-align: right;
    right: 0;
}

footer nav {
    left: 0;
    width: 100px;
}

nav a {
    float: left;
    display: inline-block;
    padding: 10px;
    margin: 10px 0px 10px 10px;
    background-color: #fff;
    width: 80px;
    text-align: center;
}

#home {
    background-color: #C60019;
}

#camera #camera_mask,
#camera #camera_overlay,
#camera #camera_preview {
    width: 360px;
    height: 360px;
    object-fit: cover;
}

#camera #camera_mask,
#camera #camera_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    /*IE*/
    filter: fliph;
    /*IE*/
}

#camera #camera_preview {
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    /*IE*/
    filter: fliph;
    /*IE*/
    margin-left: auto;
    margin-right: auto;
}

#camera #finder {
    position: relative;
    width: 370px;
    /*margin : 0px auto;*/
}

#camera #content {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

#camera #camera_tohome {
    float: left;
    display: block;
    padding: 10px;
    margin: 10px 0px 10px 10px;
    background-color: #fff;
}