@charset 'utf-8';

#camera h1
{
    position: fixed;
    z-index: 3;
    top: -10vw;

    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

#body_camera #camera h1
{
    top: 0;
}

#camera_finder
{
    position: fixed;
    z-index: 2;
    left: 200vw;

    width: 100vw;
    height: 110vw;
    
    overflow: hidden;

    transition-timing-function: ease-in-out;
    transition-duration: 1s;

    background-color: #000;
}

#body_camera #camera_finder
{
    left: 0vw;
    
}

#camera_back_img
{
    position: absolute;
    top: 0;
    left: -30vw;

    width: 130vw;
}

#camera_mask,
#camera_overlay,
#camera_preview
{
    position: absolute;
    top: 27vw;
    left: 0vw;

    width: 100vw;
    height: 72vw;
    
    overflow: hidden;

    -webkit-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);

    object-fit: cover;
    -ms-filter: fliph;
    /*IE*/
        filter: fliph;
    /*IE*/
}

#camera_top
{
    position: fixed;
    z-index: 1;
    bottom: -64em;

    overflow: hidden;

    width: 100vw;
    height: 64vw;

    transition-timing-function: ease-in-out;
    transition-duration: 1s;

    background-image: url(../images/camera_top.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

#body_camera #camera_top
{
    bottom: 0;
}

#camera_release
{
    position: absolute;
    top: 39vw;
    left: 45vw;

    overflow: hidden;

    width: 18vw;
    height: 18vw;

    white-space: nowrap;
    text-indent: 100%;

    background-image: url(../images/camera_release.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

#camera_dial
{
    position: absolute;
    top: 41vw;
    left: 5vw;

    width: 37vw;
    height: 37vw;
}

#save_image
{
    display: none;
}

#emotion_container {
    position: fixed;
    z-index: 5;
    width: 100vw;
    left: -100vw;
    bottom: 40vw;
    background-color: #000000;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

#body_camera #emotion_container
{
    left: 0vw;
    
}

#emotion_icons {
    height: 15vw;
}

.emotion_icon {
    width : 10vw;
    height : 10vw;
    margin-top: 1vw;
    margin-left : 10vw;
}

#emotion_chart, #emotion_icons {
    margin: 0 auto;
    width : 100vw;
}



#emotion_icon1, #emotion_icon2, #emotion_icon3, #emotion_icon4, #emotion_icon5, #emotion_icon6 {
    visibility : hidden;
}