@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html,
body
{
    width: 100vw;
    height: 100vh;

    background-color: #e90000;
}

body
{
    line-height: 1.5;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

main
{
    position: fixed;

    overflow: hidden;

    width: 100vw;
    height: 100vh;
}

article
{
    position: fixed;
}

.deco
{
    position: absolute;

    transform: rotate3d(-2, 5, -1.5, -35deg);
    transform-origin: 50% 50%;
}

.deco .deco0
{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10vw;
    line-height: 1.1;

    display: inline-block;

    margin-right: 1vw;
    padding: 1vw 2vw;

    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);

    color: #fff;
    background: #c60019;
    -webkit-box-shadow: 2vw 2vw 0 0vw #000;
            box-shadow: 2vw 2vw 0 0vw #fff;
}

.deco .deco1
{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 7vw;
    line-height: 1.1;

    display: inline-block;

    margin-right: 1vw;
    padding: 1vw 2vw;

    -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);

    color: #fff;
    background: #000;
    -webkit-box-shadow: 1.5vw 1.5vw 0 0vw #c60019;
            box-shadow: 1.5vw 1.5vw 0 0vw #fff;
}

.deco .deco2
{
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 8vw;
    line-height: 1.1;

    display: inline-block;

    margin-right: 1vw;
    padding: 1vw 2vw;

    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg);

    color: #fff;
    background: #000;
    -webkit-box-shadow: 2vw 2vw 0 0vw #000;
            box-shadow: 2vw 2vw 0 0vw #fff;
}

.deco .deco3
{
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 5vw;
    line-height: 1.1;

    display: inline-block;

    margin-right: 1vw;
    padding: 1vw 2vw;

    -webkit-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
            transform: rotate(-8deg);

    color: #c60019;
    background: #000;
    -webkit-box-shadow: 2vw 2vw 0 0vw #c60019;
            box-shadow: 1vw 1vw 0 0vw #fff;
}

aside
{
    position: fixed;
    z-index: 1;
    top: 0vw;
    left: 120vw;

    width: 100vh;
    height: 10vw;

    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    transform-origin: left top;

    color: #fff;
    background-color: #000;
}

#body_home aside
{
    left: 100vw;
}

aside h1
{
    font-size: 5vw;

    float: left;

    margin-top: 1vw;
    margin-left: 5vw;

    color: #fff;
}

aside h1 strong
{
    font-weight: bold;
}

aside nav
{
    float: right;

    margin-top: 2vw;
    margin-right: 2vw;
}

aside nav a
{
    font-size: 3vw;

    margin-right: 2vw;

    text-decoration: none;

    color: #fff;
}

footer
{
    position: fixed;
    z-index: 100;
    left:2vw;
    bottom: 17vw;

    width: 100vw;
    
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

#body_home footer
{
    bottom: -10vw;
}
