@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body{
    height: 100%;
    background-color: #000000;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

main {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition-duration: 0.5s;
    perspective: 1000px;
}

h1 {
    position: absolute;
    transform: rotate3d(-2, 5, -1.5, -35deg);
    transform-origin: 50% 50%;
    z-index: 1;
    transition-duration: 0.5s;
    top:-50vh;
}

h1 .deco0 {
    color: #fff;
    background: #C60019;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    display: inline-block;
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.1;
    padding: 2px 3px;
    -webkit-box-shadow: 4px 4px 0px 6px #000;
    box-shadow: 3px 3px 0px 4px #fff;
    margin-right: 2px;
}

h1 .deco1 {
    color: #fff;
    background: #000;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    display: inline-block;
    font-size: 24px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.1;
    padding: 2px 3px;
    -webkit-box-shadow: 4px 4px 0px 6px #C60019;
    box-shadow: 3px 3px 0px 4px #fff;
    margin-right: 2px;
}

h1 .deco2 {
    color: #fff;
    background: #000;
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    display: inline-block;
    font-size: 32px;
    font-family: 'Noto Serif JP', sans-serif;
    line-height: 1.1;
    padding: 2px 3px;
    -webkit-box-shadow: 4px 4px 0px 6px #000;
    box-shadow: 3px 3px 0px 4px #fff;
    margin-right: 2px;
}

h1 .deco3 {
    color: #C60019;
    background: #000;
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
    display: inline-block;
    font-size: 20px;
    font-family: 'Noto Serif JP', sans-serif;
    line-height: 1.1;
    padding: 2px 3px;
    -webkit-box-shadow: 4px 4px 0px 6px #C60019;
    box-shadow: 3px 3px 0px 4px #fff;
    margin-right: 2px;
}

/* HOME */

#body_home #home h1{
    top:0;
}

#body_home #home,
#body_home #camera,
#body_home #edit {
    left: 0;
}

#body_home #wishform,
#body_home #license {
    left: 100vw;
}

#home_tocamera{
    position: relative;
    display: block;
    width: 200px;
    top:100vh;
    margin: auto;
    text-align: center;
    transition-duration: 0.5s;
}

#body_home #home_tocamera{
    top:50vh;
}

/* CAMERA */

#camera_finder {
    position: relative;
    /*margin : 0px auto;*/
    transition-duration: 0.5s;
    left: 200vw;
}

#body_camera #camera_finder {
    left: 0vw;
}

#camera_mask,
#camera_overlay,
#camera_preview {
    position: absolute;
    top: 27vw;
    left: 0vw;
    width: 100vw;
    height: 72vw;
    object-fit: cover;
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    /*IE*/
    filter: fliph;
    /*IE*/
}

#camera_tohome {
    float: left;
    display: block;
    padding: 10px;
    margin: 10px 0px 10px 10px;
    background-color: #fff;
}

#camera_back_img {
    position: absolute;
    top: 0px;
    left: -30vw;
    width: 130vw;
}