@charset 'utf-8';

#home h1
{
    position: fixed;
    z-index: 3;
    top: 73vw;
    left: 120vw;

    overflow: hidden;

    width: 55vw;
    height: 50vw;

    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    white-space: nowrap;
    text-indent: 100%;

    background-image: url(../images/home_logo_type.svg);
    background-repeat: no-repeat;
}

#body_home #home h1
{
    left: 20vw;
}

#home_icon
{
    position: fixed;
    z-index: 2;
    top: -60vw;
    left: 20vw;

    width: 55vw;

    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

#body_home #home_icon
{
    top: 20vw;
}

#home_character
{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 120vw;

    height: 100vh;

    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

#body_home #home_character
{
    right: 45vw;
}

#home_tocamera
{
    position: fixed;
    z-index: 4;
    top: 300vw;
    left: 22vw;

    display: block;

    margin: auto;

    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    text-align: center;
}

#body_home #home_tocamera
{
    top: 130vw;
}
