@charset "utf-8";

#body_home #home h1{
    top:0;
}

#home_tocamera{
    position: relative;
    display: block;
    width: 200px;
    top:100vh;
    margin: auto;
    text-align: center;
    transition-duration: 0.5s;
}

#body_home #home_tocamera{
    top:70vh;
}
