@charset 'utf-8';

#home
{
    width: 100vw;
}

#body_home #home
{
    height: 100vh;
}

#body_home #home h1
{
    top: 0;
}

#home_tocamera
{
    position: relative;
    top: 100vh;

    display: block;

    width: 200px;
    margin: auto;

    transition-duration: .5s;
    text-align: center;
}

#body_home #home_tocamera
{
    top: 70vh;
}
