@charset 'utf-8';

#license
{
    position: absolute;
    top: 100%;

    overflow: hidden;

    width: 100%;
    height: 100%;
    padding: 40px;

    transition-duration: .5s;

    background-color: #fff;
}

#body_license #license
{
    top: 0vh;
}

#license h1
{
    position: fixed;
    z-index: 3;
    top: -10vw;

    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

#body_license #license h1
{
    top: 0;
}

#body_license #license div
{
    overflow: scroll;
}
